<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoder.vin.web.api.mapper.extension.ExNoteDraftMapper">


    <select id="getLastVersionByNoteId" resultType="com.scoder.vin.web.api.domain.extension.ExNoteDraft">
        SELECT
            *
        FROM
            v_note_draft
        WHERE
            note_id = #{noteId}
        ORDER BY
            version DESC
        LIMIT 1
    </select>
    <select id="getLastVersionDraftByUserIdAndNotebookIdAndNoteId"
            resultType="com.scoder.vin.web.api.domain.extension.ExNoteDraft">
        SELECT
            *
        FROM
            (
                SELECT
                    *
                FROM
                    (
                        SELECT
                            *
                        FROM
                            v_note_draft
                        ORDER BY
                            version DESC
                        LIMIT 999999999
                    ) a
                GROUP BY
                    a.note_id
            ) vnd
        WHERE
            vnd.user_id = #{userId}
        AND vnd.notebook_id = #{notebookId}
        AND vnd.note_id = #{noteId}
    </select>
</mapper>